body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* フレックスレイアウトで縦方向に拡張し、フッターを下部に配置 */
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* メインコンテンツが拡張してフッターを下に押す */
main {
  flex: 1;
}

/* コードエディタ用フォント */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}